/*HEADER*/

.header {
  background-color: black;
  display: flex;
  align-items: center;
}
.logo-marvel {
  width: 400px;
  object-fit: cover;
}

.header div {
  color: white;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;

  padding: 20px 20px;
  margin-left: 150px;
}

/*CHARACTERS*/

.characters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

/*CHARACTER*/

.character-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.character {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 20px;
  border: solid thin #ca0003;
  border-radius: 10px;
  padding: 10px 10px;
}

.character-name {
  font-size: 30px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.character-description {
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 22px;
}
